---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde laboriosam est doloremque totam accusantium qui eaque porro, nobis pariatur ut, consequatur modi fugit atque rem officiis ratione molestiae quae id deleniti optio eum. Numquam pariatur eligendi illo dolorem, libero, suscipit modi perferendis quisquam placeat dolores, odit doloribus. Quo ratione placeat eaque nemo asperiores dignissimos ex quasi veritatis fuga hic dolores quas ut, a est numquam perferendis quisquam rem recusandae. Sint, laboriosam. In voluptatibus tenetur, suscipit veniam magni numquam exercitationem totam! Numquam voluptates alias natus velit ut, in dolor deserunt, distinctio, quis inventore quos soluta explicabo similique vel repellat temporibus tenetur.</p>
</Layout>
